#stars {
  --animation-duration: 4s;
  stroke-width: 0.03rem;

  #star1 {
    animation: star1-anim var(--animation-duration) infinite ease-in;
  }
  #star2 {
    animation: star2-anim var(--animation-duration) infinite ease-in;
  }
  #star3 {
    animation: star3-anim var(--animation-duration) infinite ease-in;
  }
}

@keyframes star1-anim {
  50% {
    d: path(
      'M4.15557 0.43689C4.15557 0.43689 4.33688 2.6659 4.94186 3.22252C5.54684 3.77915 7.49839 3.88942 7.49839 3.88942C7.49839 3.88942 5.46891 4.31397 4.88303 4.93417C4.29715 5.55438 4.09301 7.98114 4.09301 7.98114C4.09301 7.98114 3.98488 5.53463 3.40998 4.93717C2.83509 4.33972 1.04074 4.05134 1.04074 4.05134C1.04074 4.05134 2.76267 3.83745 3.33268 3.28432C3.9027 2.73119 4.15557 0.43689 4.15557 0.43689Z'
    );
  }
}

@keyframes star2-anim {
  25% {
    d: path(
      'M11.6182 4.73871C11.6182 4.73871 11.8506 6.17523 12.3252 6.64236C12.7998 7.1095 14.1956 7.25026 14.1956 7.25026C14.1956 7.25026 12.7838 7.60655 12.3242 8.12704C11.8645 8.64754 11.6367 10.1053 11.6367 10.1053C11.6367 10.1053 11.3941 8.58273 10.9431 8.08135C10.4921 7.57994 9.19711 7.31379 9.19711 7.31379C9.19711 7.31379 10.4578 7.11018 10.905 6.64598C11.3522 6.18179 11.6182 4.73871 11.6182 4.73871Z'
    );
  }
}

@keyframes star3-anim {
  75% {
    d: path(
      'M6.38935 7.91394C6.38935 7.91394 6.68561 10.3154 7.29059 10.872C7.89557 11.4286 9.2436 11.7688 9.2436 11.7688C9.2436 11.7688 7.84637 12.0209 7.26049 12.6411C6.67462 13.2613 6.52795 15.6594 6.52795 15.6594C6.52795 15.6594 6.27613 13.1554 5.70123 12.5579C5.12634 11.9605 3.84929 11.8158 3.84929 11.8158C3.84929 11.8158 5.14013 11.5157 5.71015 10.9626C6.28017 10.4094 6.38935 7.91394 6.38935 7.91394Z'
    );
  }
}
