#stars {
  --animation-duration: 4s;
  stroke-width: 0.03rem;

  #star1 {
    animation: star1-anim var(--animation-duration) infinite ease-in;
  }
  #star2 {
    animation: star2-anim var(--animation-duration) infinite ease-in;
  }
  #star3 {
    animation: star3-anim var(--animation-duration) infinite ease-in;
  }
}

@keyframes star1-anim {
  50% {
    d: path(
      'M5.29666 1.10168C5.29666 1.10168 5.47796 3.33067 6.08294 3.8873C6.68792 4.44392 8.63947 4.5542 8.63947 4.5542C8.63947 4.5542 6.60999 4.97874 6.02411 5.59895C5.43824 6.21916 5.23409 8.64591 5.23409 8.64591C5.23409 8.64591 5.12596 6.19941 4.55106 5.60195C3.97617 5.00449 2.18182 4.71613 2.18182 4.71613C2.18182 4.71613 3.90375 4.50224 4.47376 3.94912C5.04378 3.39599 5.29666 1.10168 5.29666 1.10168Z'
    );
  }
}

@keyframes star2-anim {
  25% {
    d: path(
      'M10.4468 4.74725C10.4468 4.74725 10.6792 6.18376 11.1538 6.65089C11.6284 7.11802 13.0242 7.25879 13.0242 7.25879C13.0242 7.25879 11.6124 7.6151 11.1527 8.13558C10.6931 8.65608 10.4653 10.1138 10.4653 10.1138C10.4653 10.1138 10.2227 8.59128 9.77166 8.08989C9.32065 7.58849 8.0257 7.32234 8.0257 7.32234C8.0257 7.32234 9.28638 7.11872 9.73357 6.65453C10.1808 6.19033 10.4468 4.74725 10.4468 4.74725Z'
    );
  }
}

@keyframes star3-anim {
  75% {
    d: path(
      'M6.96793 6.79749C6.96793 6.79749 7.26419 9.19891 7.86917 9.75553C8.47415 10.3122 9.82219 10.6523 9.82219 10.6523C9.82219 10.6523 8.42495 10.9044 7.83908 11.5246C7.2532 12.1449 7.10654 14.5429 7.10654 14.5429C7.10654 14.5429 6.85471 12.0389 6.27982 11.4415C5.70492 10.844 4.42787 10.6993 4.42787 10.6993C4.42787 10.6993 5.71872 10.3992 6.28873 9.8461C6.85875 9.29297 6.96793 6.79749 6.96793 6.79749Z'
    );
  }
}
