#scoop-first {
  animation: 3s ease drop-first infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#scoop-middle {
  animation: 3s ease drop-middle infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#scoop-last {
  animation: 3s ease drop-last infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#cone {
  animation: 3s ease dip infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes dip {
  0%,
  96% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(-0.007rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes drop-first {
  0%,
  5% {
    opacity: 0;
  }
  10%,
  93% {
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}

@keyframes drop-middle {
  0%,
  20% {
    opacity: 0;
  }
  23%,
  77% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes drop-last {
  0%,
  35% {
    opacity: 0;
  }
  38%,
  64% {
    opacity: 1;
  }
  67%,
  100% {
    opacity: 0;
  }
}
