#lamp {
  animation: 3s ease lamp-move infinite;
}
.bounce {
  animation: 2s ease-out bounce infinite;
}

@keyframes lamp-move {
  0% {
    d: path(
      'M0.544924 0.418376C0.524524 0.218683 0.689319 0.0174769 0.891359 0.00610352C1.04306 0.0072954 1.29831 0.15079 1.1975 0.571416M1.1975 0.571416C1.1795 0.575416 1.16816 0.599079 1.18163 0.616012C1.19509 0.632946 1.24297 0.628054 1.24097 0.594854C1.23831 0.569654 1.21763 0.566483 1.1975 0.571416Z'
    );
  }
  50% {
    d: path(
      'M0.544918 0.418331C0.524518 0.218638 0.665876 0.0447761 0.891353 0.00605901C1.01162 -0.000607665 1.36469 0.00196296 1.43237 0.442419M1.43237 0.442419C1.41437 0.446419 1.40303 0.470082 1.4165 0.487015C1.42996 0.503949 1.47784 0.499057 1.47584 0.465857C1.47318 0.440657 1.4525 0.437486 1.43237 0.442419Z'
    );
  }
  100% {
    d: path(
      'M0.544924 0.418376C0.524524 0.218683 0.689319 0.0174769 0.891359 0.00610352C1.04306 0.0072954 1.29831 0.15079 1.1975 0.571416M1.1975 0.571416C1.1795 0.575416 1.16816 0.599079 1.18163 0.616012C1.19509 0.632946 1.24297 0.628054 1.24097 0.594854C1.23831 0.569654 1.21763 0.566483 1.1975 0.571416Z'
    );
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  50% {
    transform: translateY(0);
  }
}
