#cat-tail {
  stroke-width: 0.02rem;
}
#cat-tail #body {
  animation: 3s ease tail-move infinite;
}
#leg {
  animation: 3s ease leg-move infinite;
}

#back-leg {
  animation: 3s ease back-leg-move infinite;
}

@keyframes tail-move {
  0% {
    d: path(
      'M9.05964 10.9184C9.60964 11.4284 8.80325 12.4376 8.00325 12.522C7.09325 12.632 5.60839 11.9297 4.75839 11.7897C3.77839 11.6197 2.04714 12.5666 1.45402 12.7378C1.10089 12.9159 0.60714 12.8753 0.379015 13.3097C0.0849493 13.8696 0.82339 14.0297 0.985265 14.0284C1.14714 14.0272 2.14589 13.9866 2.88839 13.6109C3.68464 13.2234 4.08089 13.1122 5.04089 13.1822C6.14276 13.2753 7.92531 14.0484 9.21593 13.6359C10.3478 13.1734 10.5796 12.4897 10.3996 11.1297C10.2396 10.0897 9.64964 7.48967 8.99964 6.09967C8.39964 4.69967 6.79964 4.49967 6.29964 4.29967C6.89964 4.09967 7.59964 3.89967 7.59964 3.89967C7.59964 3.89967 6.79964 3.59967 6.69964 3.49967C7.29964 3.39967 8.19964 3.09967 8.19964 3.09967C8.19964 3.09967 7.39964 2.69967 6.69964 2.39967C7.19964 2.19967 7.69964 1.91967 7.69964 1.91967C7.69964 1.91967 7.19964 1.79967 6.69964 1.59967C6.39964 1.39967 6.39964 0.59967 6.09964 0.0996704C5.69964 0.59967 5.69964 0.79967 5.39964 1.29967C4.59964 1.19967 3.29964 1.19967 2.79964 1.39967C2.39964 1.19967 1.69964 -0.50033 1.59964 0.59967C1.49964 1.29967 1.69964 1.59967 1.49964 1.69967C0.99964 1.99967 0.59964 2.29967 0.59964 2.29967C0.59964 2.29967 0.99964 2.39967 1.49964 2.59967C0.99964 2.79967 0.0996399 3.29967 0.0996399 3.29967C0.0996399 3.29967 0.89964 3.59967 1.49964 3.79967C1.19964 3.89967 0.89964 4.39967 0.89964 4.39967L2.09964 4.49967C1.49964 5.49967 1.68202 11.1275 1.67069 12.0275C1.65964 12.905 1.78746 12.5997 2.39859 12.33C2.51859 12.38 2.51964 8.53967 2.51964 8.53967'
    );
  }
  50% {
    d: path(
      'M9.05964 10.9497C9.60964 11.4597 8.60013 12.6876 7.80013 12.7876C6.89013 12.8976 5.88964 12.9297 5.03964 12.7897C4.05964 12.6197 3.10964 12.2697 2.21964 11.6597C1.81964 11.2597 0.91964 10.8597 0.51964 11.5597C0.31964 12.1597 0.72964 12.7797 1.21964 13.0597C1.57964 13.2697 1.98964 13.4397 2.41964 13.5797C3.30964 13.8797 4.29964 14.0497 5.25964 14.1197C6.93964 14.2597 8.56593 14.0797 9.21593 13.7297C10.4259 13.0797 10.5796 12.4897 10.3996 11.1297C10.2396 10.0897 9.64964 7.48967 8.99964 6.09967C8.39964 4.69967 6.79964 4.49967 6.29964 4.29967C6.89964 4.09967 7.59964 3.89967 7.59964 3.89967C7.59964 3.89967 6.79964 3.59967 6.69964 3.49967C7.29964 3.39967 8.19964 3.09967 8.19964 3.09967C8.19964 3.09967 7.39964 2.69967 6.69964 2.39967C7.19964 2.19967 7.69964 1.91967 7.69964 1.91967C7.69964 1.91967 7.19964 1.79967 6.69964 1.59967C6.39964 1.39967 6.39964 0.59967 6.09964 0.0996704C5.69964 0.59967 5.69964 0.79967 5.39964 1.29967C4.59964 1.19967 3.29964 1.19967 2.79964 1.39967C2.39964 1.19967 1.69964 -0.50033 1.59964 0.59967C1.49964 1.29967 1.69964 1.59967 1.49964 1.69967C0.99964 1.99967 0.59964 2.29967 0.59964 2.29967C0.59964 2.29967 0.99964 2.39967 1.49964 2.59967C0.99964 2.79967 0.0996399 3.29967 0.0996399 3.29967C0.0996399 3.29967 0.89964 3.59967 1.49964 3.79967C1.19964 3.89967 0.89964 4.39967 0.89964 4.39967L2.09964 4.49967C1.49964 5.49967 1.65964 9.35967 1.65964 10.2597C1.65964 11.6897 1.59964 11.2297 2.40964 11.7997C2.52964 11.8497 2.51964 8.53967 2.51964 8.53967'
    );
  }
  100% {
    d: path(
      'M9.05964 10.9184C9.60964 11.4284 8.80325 12.4376 8.00325 12.522C7.09325 12.632 5.60839 11.9297 4.75839 11.7897C3.77839 11.6197 2.04714 12.5666 1.45402 12.7378C1.10089 12.9159 0.60714 12.8753 0.379015 13.3097C0.0849493 13.8696 0.82339 14.0297 0.985265 14.0284C1.14714 14.0272 2.14589 13.9866 2.88839 13.6109C3.68464 13.2234 4.08089 13.1122 5.04089 13.1822C6.14276 13.2753 7.92531 14.0484 9.21593 13.6359C10.3478 13.1734 10.5796 12.4897 10.3996 11.1297C10.2396 10.0897 9.64964 7.48967 8.99964 6.09967C8.39964 4.69967 6.79964 4.49967 6.29964 4.29967C6.89964 4.09967 7.59964 3.89967 7.59964 3.89967C7.59964 3.89967 6.79964 3.59967 6.69964 3.49967C7.29964 3.39967 8.19964 3.09967 8.19964 3.09967C8.19964 3.09967 7.39964 2.69967 6.69964 2.39967C7.19964 2.19967 7.69964 1.91967 7.69964 1.91967C7.69964 1.91967 7.19964 1.79967 6.69964 1.59967C6.39964 1.39967 6.39964 0.59967 6.09964 0.0996704C5.69964 0.59967 5.69964 0.79967 5.39964 1.29967C4.59964 1.19967 3.29964 1.19967 2.79964 1.39967C2.39964 1.19967 1.69964 -0.50033 1.59964 0.59967C1.49964 1.29967 1.69964 1.59967 1.49964 1.69967C0.99964 1.99967 0.59964 2.29967 0.59964 2.29967C0.59964 2.29967 0.99964 2.39967 1.49964 2.59967C0.99964 2.79967 0.0996399 3.29967 0.0996399 3.29967C0.0996399 3.29967 0.89964 3.59967 1.49964 3.79967C1.19964 3.89967 0.89964 4.39967 0.89964 4.39967L2.09964 4.49967C1.49964 5.49967 1.68202 11.1275 1.67069 12.0275C1.65964 12.905 1.78746 12.5997 2.39859 12.33C2.51859 12.38 2.51964 8.53967 2.51964 8.53967'
    );
  }
}

@keyframes leg-move {
  0%,
  1% {
    d: path(
      'M4.593 7.84204C4.633 8.01204 4.523 8.31204 4.513 8.53204C4.433 9.09204 4.303 9.65204 4.243 10.042C4.203 10.472 4.173 11.152 4.113 11.792C4.043 11.802 3.863 11.822 3.773 11.842C3.663 11.872 3.563 11.892 3.363 11.962C3.383 10.912 3.363 10.422 3.393 9.37204C3.413 9.10204 3.403 8.81204 3.473 8.55204'
    );
  }
  50% {
    d: path(
      'M4.58964 7.83966C4.62964 8.00966 4.51964 8.30966 4.50964 8.52966C4.42964 9.08966 4.25964 9.63966 4.23964 10.2197C4.19964 10.8597 4.11964 11.4897 4.09964 12.1297C4.04964 12.4397 4.13964 12.6297 3.79964 12.4697C3.70964 12.4397 3.47964 12.3597 3.36964 12.2697C3.38964 11.2197 3.37964 10.4297 3.40964 9.36966C3.42964 9.09966 3.41964 8.80966 3.48964 8.54966'
    );
  }
  99.5%,
  100% {
    d: path(
      'M4.593 7.84204C4.633 8.01204 4.523 8.31204 4.513 8.53204C4.433 9.09204 4.303 9.65204 4.243 10.042C4.203 10.472 4.173 11.152 4.113 11.792C4.043 11.802 3.863 11.822 3.773 11.842C3.663 11.872 3.563 11.892 3.363 11.962C3.383 10.912 3.363 10.422 3.393 9.37204C3.413 9.10204 3.403 8.81204 3.473 8.55204'
    );
  }
}

@keyframes back-leg-move {
  0%,
  1% {
    d: path(
      'M7.68299 8.48205C6.70299 8.42205 6.05299 8.84205 5.69299 9.56205C5.33299 10.282 5.263 10.782 5.383 11.912'
    );
  }
  50% {
    d: path(
      'M7.68299 8.48203C6.70299 8.42203 6.12299 8.74203 5.64299 9.68203C5.15299 10.622 5.33299 11.652 5.55299 12.792'
    );
  }
  99.5%,
  100% {
    d: path(
      'M7.68299 8.48205C6.70299 8.42205 6.05299 8.84205 5.69299 9.56205C5.33299 10.282 5.263 10.782 5.383 11.912'
    );
  }
}
