#ghost-cat {
  --animation-duration: 1s;
  stroke-width: 0.025rem;

  animation: bounce 1.5s infinite;

  #body {
    animation: body-waves var(--animation-duration) infinite linear;
  }

  #mouth {
    stroke-width: 0.022rem;
  }
}

@keyframes body-waves {
  50% {
    d: path(
      'M2.84592 11.9421C3.63174 10.0593 5.34787 6.3465 6.0946 2.19586C6.0946 2.19586 6.54074 2.53775 7.11686 3.85802L9.46933 4.38612C9.46933 4.38612 9.7372 3.72575 10.3575 2.63377C10.8924 2.44662 12.2962 7.53075 12.7043 12.8118C12.6659 12.7943 12.6371 12.7756 12.618 12.7586C11.0828 11.7293 9.9984 12.1439 8.89171 13.4211C7.29044 11.8783 6.71926 11.4359 5.15061 12.623C4.64491 11.5275 3.68863 11.5567 2.97356 11.882C2.93209 11.9025 2.87808 11.9211 2.84592 11.9421Z'
    );
  }

  100% {
    d: path(
      'M2.84592 11.9421C3.63174 10.0593 5.34787 6.3465 6.0946 2.19586C6.0946 2.19586 6.54074 2.53775 7.11686 3.85802L9.46933 4.38612C9.46933 4.38612 9.7372 3.72575 10.3575 2.63377C10.8924 2.44662 12.2962 7.53075 12.7043 12.8118C12.6659 12.7943 12.6371 12.7756 12.618 12.7586C12.5878 12.7358 12.5614 12.7195 12.5614 12.7195C11.0499 11.7353 9.97707 12.1702 8.88888 13.4199C7.17225 11.7462 6.66128 11.5137 5.14934 12.6241C4.41647 11.0627 2.92495 11.9016 2.84592 11.9421Z'
    );
  }
}
